body{
  margin: 1rem;
}

.popup{
  position: absolute;
  animation: fadein 1s forwards;
  max-height: 55rem;
  max-width: 60rem;
}

@keyframes fadein {
  from { transform: translate(-50%, -30%); opacity: 0; }
  to   { transform: translate(-50%, -50%); opacity: 1; }
}

@keyframes blink_background {
  0% { background-color: yellow; }
  49% { background-color: yellow; }
  50% { background-color: greenyellow; }
  100% { background-color: greenyellow; }
}

.newsletter{
  max-width: 50rem;
  padding: 2rem;
  border-radius: 2rem;
  font-size: larger;
  background: linear-gradient(to right, #ff5f6d, #ffc371);
}
.cookies{
  position: fixed;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  top: 50% !important;
  left: 50% !important;
  height: 20rem;
  width: 100%;
  padding: 5em;
  background-color: #ebf6fa;
  z-index: 5;
}
.ads{
  padding: 3rem;
  border-radius: 1rem;
  animation: 1s infinite blink_background;
}

.imageclose{
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  cursor: pointer;
  transition: 0.2s;
}

.main-container{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.input-container{
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
}

.popup__text{
  max-width: 60em;
  text-align: center;
}

#plot1-style, #plot2-style{
  display: flex;
  justify-content: space-around;
}

.plot-container svg{
  background: none !important;
}

.DateInput_input, .dash-input, .Select-menu-outer, .has-value.Select--single > .Select-control .Select-value .Select-value-label{
  color: var(--text-color-normal);
}

.Select-control, .DateRangePickerInput, .DateInput, .Select-menu-outer{
  background-color: var(--background-color);
  border-color: var(--border-color);
}

.is-open>.Select-control{
  background-color: var(--background-color-softer);
  border-color: var(--border-color-softer);
}

@media (min-width: 900px) {
  .input-container{
    grid-template-columns: 1fr 2fr;
  }
}

@media (min-width: 1200px) {
  .main-container{
    grid-template-columns: 55rem 1fr;
  }
}